.menuDescription > div {
    display: flex;
    border: 1px solid rgb(35, 35, 35);
    background-color: #202020;
    gap: 100px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;

}

.menuDescription {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.menuDescription > div p{
    width: 50%;
    font-family: 'Telegraf';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    

    color: #FFFFFF;
}

.menuDescription > div p span {
    font-size: 1.1em;
    font-weight: 600;
    color: #F1D5BB;
}

.menuDescription a {
    align-self: end;
}

.menuDescription img {
    width: 300px;
    height: 300px;
}

/* CSS */
.btn {
    margin-top: 15px;
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #bc1823;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #bc1823;
  left: 0;
  top: 0;
  border-radius: 10px;
}