.content {
  width: 80%;
  margin-left: 223px;
  margin-top: 50px;
}

.title {
  font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 63px;
/* identical to box height */
margin: 0;


color: #000000;
}

.hr {
  width: 306px;
  height: 5px;
  background: #bc1823;
  border: 1px solid #bc1823;

  /*background: #F1D5BB;
  border: 1px solid #F1D5BB;*/
}

.disable {
  display: none !important;
}

.App{
  background-color: #ecebeb;
}